/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*generic stuff*/
body{
  width: 100%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  overflow-x: auto;
  overflow-y: scroll;
}

p{
  line-height: 1.5em;
  margin-bottom: 1em;
}

p.citation{
  padding-left: 22px;
  text-indent: -22px;
}

table{
  width: 100%;
  margin: 1em 0 2em 0;
}

tr{
  margin-bottom: 2em;
}

a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

a:hover{
  color: #108EBC;
}

a#selected{
  border-bottom: 3px solid #1080BC;
  font-weight: bold;
  color: #888;
}

.caption{
  padding: .5em 0 0 0;
  font-style: oblique;
}

.float-left{
  float: left;
  width: 284px;
  margin-right: 1em;
}

.italics{
  font-style: oblique;
}

.clear{
  margin:0;
  padding:0;
  line-height: 0;
}


/*Header bar*/
#header-wrapper{
  width: 100%;
  background-color: #000000;
}

#header{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
}

#header h1{
  padding: 1em .25em .15em .25em;
  size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

#header ul {
  padding: 0em .1em .5em .25em;
}

#header ul li{
  display: inline;
  font-weight: normal;
  font-size: .8em;
}

#header ul li a{
  color: #888;
  padding-right: 1em;
}

#header ul li a:hover{
  color: #108EBC;

}

#statebox{
  clear: both;
  float: right;
  width: 202px;
  color: inherit;
  padding: .25em .25em 0 0;
}  

#statebox label{
  float: left;
  font-size: .8em;
  padding: .25em;
}

#statebox select{
  clear: both;
  float: left;
  width: 160px;
  border: 1px solid #000;
  background-color: #fff;
}

#statebox #gotostate{
  float: left;
  width: 40px;
  border: 1px solid #000;
  background-color: #c8c8c8;
  cursor: pointer;
}

#statebox{
  display: none;
}

/*navbar*/

#navlist{
  width: 900px;
  margin: 1.5em auto .5em auto;
}

#navlist ul li{
  display: inline;
  margin: 0 2em 0 0;
}

/*page and pagecontent*/

#page{
  width: 900px;
  margin: 1.5em auto;
}

#page h2{
  color: #108EBC;
  font-size: 1.5em;
  padding: .5em 0;
  font-weight: bold;
}

#page #map {
  float: right;
  width: 600px;
  padding: .5em 0;
}

#page #interior-header{
  padding: .25em 0;
}

.pageinset{
  width: 270px;
  position: relative;
  float: right;
  clear: right;
  margin: 0 0 2em 2em;
  text-align: center;
  border: 1px solid #000;
}

.pageinset p{
  margin: 0;
  padding-bottom: 2em;
}

.pageinset img{
  width: 87%%;
  margin: 1em;
}

.pageinset .caption{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .5em 0;
  text-align: center;
}

.no-border{
  border: 0;
}

/*pagecontent styles*/
#pagecontent{
  width: 100%;
}

#pagecontent h3{
  font-weight: bold;
  padding: 1em 0 1em 0;
}

#pagecontent h4{
  margin-top: 1em;
  margin-bottom: .5em;
  color: #888;
  font-style: oblique;
}

/*lists*/
#pagecontent ul, #pagecontent ol{
  line-height: 1.5em;
  margin-bottom: 1em;
 }
 
#pagecontent ol{
   list-style-type: decimal;
   list-position: inside;
   padding-left: 4em;
}
 
/*tables*/
#pagecontent table th{
  text-align: left;
  padding: .5em 0;
  color: #108EBC;
  font-weight: bold;
}

#pagecontent table .link {
  width: 22%;
  text-align: right;
}

#pagecontent table .row-divider{
  padding: .5em 0;
}


#pagecontent table tr td{
  padding: .25em 0;
  vertical-align: top;
}

#pagecontent table .cell-note{
  line-height: 1.5em;
   margin-left: .1em;
   font-size: .75em;
   color: #888;
   font-weight: normal;
}

/*special class for tables on state/us pages*/
#pagecontent table.pages{
  width: 630px;
  margin-left: 3em;
}

/*for index and slider*/
#pagecontent #us, #pagecontent #videos{
   width: 400px;
   float: left;
   padding: .5em 1em;
   margin: 0 0 1em;
   border-top: 1px solid #000;
}

#pagecontent #us p, #pagecontent #videos p{
   margin-top: 1em;
}

#pagecontent #us img{
   margin-top: .5em;
   padding-top: .5em;
}

#pagecontent #videos ul li {
   width: 95.98%;
   margin: .5em auto;
   padding: .5em;
   background-color: #d6d7c7;
}

#pagecontent #videos p.caption{
   font-size: .9em;
   text-align: center;
}

#pagecontent #videos a{
   font-weight: normal;
}

#pagecontent #mapvids{
   display: none;
}

/*styles for slider classes */
.bx-wrapper{
   padding-top: 0;
   padding-bottom: 2em;
}

.bx-pager{
   float: left;
   width: 70%;
   padding-top: .75em;
   padding-left: 1em;
}

.bx-start{
   float: right;
   text-align: right;
   padding-top: .75em;
   padding-right: 1em;
}

.pager-link{
   margin-right: 1em;
}

.pager-active{
   font-weight: bold;
   color: #pagecontent #888;
}

/*for statelist page*/
#pagecontent .statelist{
  float: left;
  width: 209px;
  margin-right: 1em;
  padding-bottom: 2em;
}

/*for download index page*/
#pagecontent div.download-link{  
  float: left;
  width: 385px;
  margin: 2em 2em 4em 2em;
  text-align: center;
}

#pagecontent div.download-link a{
  display: block;
  position: relative;
  width: 89.6373057%;
  height: 100%;
  padding: 1.25em;
}

#pagecontent div.download-link img{
  margin-bottom: 2em;
  padding-bottom: 1em;
}

#pagecontent div.download-link h3{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
}

/*for download pages*/

#pagecontent div#downloads{
  width: 600px;
   float: left;
   margin-right: 4em;
}

#pagecontent div.sidebar{
  width: 210px;
   margin-top: 1.333333333em;
   padding: 1em;
   float: right;
   border: 1px solid #000;;
   font-size: 75%;
}

div.sidebar ol{
  padding-left: 1.5em !important;
}

/*footer*/
#footer-wrapper{
  clear: both;
  width: 100%;
  padding-bottom: 3em;
  border-top: 1px solid #000;
}
#footer{
  width: 900px;
  margin: 0 auto;
  padding: 1em 0 2em 0;
  font-size: .8em;
  color: #000;
}

/*#footer p, #footer li, #footer a{
  font-size: .9em;
  color: #888;
}*/

#footer ul{
  margin: 1em 0;
  text-align: right;
}

#footer ul li{
  padding: .15em 0;
}

#footer ul#rights{
  float: left;
}

#footer ul#rights li{
  float: left;
  margin-right: 3em;
}



