#pagecontent #interior-header{
  width: 100%;
 }

#pagecontent #pageinset{
  width: 30%;
  border: 2px solid #808080;
  float: right;
  margin: 0 2em;
  padding:  0 1em;
}

#pageinset .caption{
  text-align: center;
}

#pagecontent #pagenav ul{
  font-size: .9em;
}


#pagecontent #pagenav li{
  margin: .5em 0 0 0;
}

#pagecontent #pagenav li a{
  padding: 1em 0;
}

#pagecontent #content{
  clear: left;
  margin: 1em 0 0 0;
}

#pagecontent #content ul{
 margin: 20px 0 5px; 0;
 padding: 5px 0 5px 0;
}

#pagecontent #content li{
  margin: 0;
  padding: 0;
}

#pagecontent #content ul li ul{
  margin: 2px 0 6px 0;
  padding: 0;
}

#pagecontent #content ul li ul li{
  margin: 2px 0 6px 0;
  padding: 0:
}

#pagecontent #content .heading{
  font-weight: bold;
  margin: 20px 0 5px 0;
  padding: 5px;
}

#pagecontent #content .subheading{
  font-weight: bold;
}

#pagecontent #content .description{
  margin: 5px 0 0 0;
  padding: 5px;
}

#pagecontent #content .description ol{
  margin: 5px 20px 0 30px;
  padding: 2px;
  list-style-position: outside;
}

#pagecontent #content .description ol li{
  padding: 5px 10px 5px 10px;
}
