*{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
  padding : 0;
}

/*Generic elements*/
body{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-size: 2.2em;
}

h2{
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: normal;
}

h3{
  margin: 10px 0;
  padding: 10px 0 2px 0;
}

p{
  line-height: 125%;
  margin: 5px 0 20px 0;
}

p.citation{
  padding-left: 22px;
  text-indent: -22px;
}

p.caption{
  text-align: center;
  color: #787878;
}

a{
  font-weight: bold;
  font-size: inherit;
  text-decoration: none;
  color: #000;
}

a:hover{
  color: #A8A881;
  text-decoration: underline;
}

a#selected{
  color: #A8A881;
}

ul{
  list-style: none;
}

ol{
  list-style-position: inside;
}

img{
  border: 0 none;
}

img.inset{
  float: right;
  padding: 10px 0px 10px 30px;
}

table{
  width: 100%;
}

/*Custom classes*/
.italics{
  font-style: oblique;
}

/*page wrapper*/
#pagecontainer{
  width: 100%;
}

/*header*/
#header{
  margin: 40px 0 30px 0;
  border-bottom: 3px solid #000;
}

#header ul{
  margin-bottom: 15px;
}

#header ul li{
  font-size: .8em;
  display: inline;
  padding-right: 15px;
}

/*page content*/
#pagecontent{
  float: left;
  width: 75%;
  margin-bottom: 40px;
  margin-right: 10px;
}

#pagecontent h2{
  margin-bottom: 15px;
}

#pagecontent table{
  margin: 5px 0px 30px 0px;
}

#pagecontent table th{
  text-align: left;
  padding: 5px 0;
}

#pagecontent table tr td{
  padding: 5px 0;
  vertical-align: top;
}

#pagecontent table tr td.letterhead{
  padding-top: 15px;
  font-weight: bold;
}

#pagecontent ul#stafflist{
  margin: 10px 0;
  line-height: 130%;
}

#pagecontent ol.contents{
  margin: 5px 30px 0px 20px;
  padding: 2px;
  list-style-position: outside;
}

#pagecontent ol.contents li{
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
}

#pagecontent ul#statelist li a{
  display: inline;
}

/*sidebars*/
#sidebar{
  float: right;
  width: 20%;
}

#sidebar .item{
  margin-bottom: 20px;
}

#sidebar .item ul.navlist li{
  padding-bottom: 5px;
}

#sidebar form select{
  margin: 10px 0 15px 0;
}

/*footer*/
#footer{
  clear: both;
  width: 100%;
  border-top: 3px solid #000; 
  font-size: .8em;
  margin: 40px 0;
}

#footer ul{
  margin: 15px 0;
}

#footer ul#rights{
  float: right;
}

#footer ul#rights li{
  display: inline;
  padding-left: 30px;
}
