/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*generic stuff*/
body{
  width: 100%;
  font-family: Calibri, Arial, Helvetica, Verdana, sans-serif;
}

p{
  line-height: 140%;
  margin-bottom: 1em;
}

p.citation{
  padding-left: 22px;
  text-indent: -22px;
}

table{
  width: 100%;
  margin: 1em 0 2em 0;
}

tr{
  margin-bottom: 2em;
}

a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

a:hover{
  color: #108EBC;
}

#selected{
  border-bottom: 3px solid #1080BC;
  font-weight: bold;
  color: #888888;
}

.caption{
  padding: .5em .2em;
  font-style: oblique;
}

.float-left{
  float: left;
  width: 35%;
}


/*Header bar*/
#header-wrapper{
  width: 100%;
  background-color: #000000;
}

#header{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
}

#header h1{
  padding: 1em .25em .15em .25em;
  size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

#header a:hover{
  color: #108EBC;
}

#header ul {
  padding: 0em .1em 1em .25em;
}

#header ul li{
  display: inline;
  font-weight: normal;
  font-size: .8em;
}

#header ul li a{
  color: #888888;
  padding-right: 1em;
}

#statebox{
  clear: both;
  float: right;
  color: inherit;
  padding: .25em .25em 0 0;
}  

#statebox label{
  float: left;
  font-style: oblique;
  font-size: .8em;
  color: inherit;
  padding: .25em;
}

#statebox select{
  clear: both;
  float: right;
  width: 60%;
}

/*navbar*/

#navlist{
  width: 900px;
  margin: 1.5em auto .5em auto;
  padding: .3em 0;
}

#navlist ul li{
  display: inline;
  margin: 0 1.5em 0 .25em;
  padding: .1em;
}

/*page and pagecontent*/

#page{
  width: 900px;
  margin: 1em auto;
}

#page #interior-header{
  margin: 2em 0 0 0;
  padding: .25em 0;
}

#interior-header h2{
  color: #108EBC;
  font-size: 1.5em;
  padding: .15em;
}

#page #map{
  float: right;
  width: 65%;
  padding: .8em 0;
}

#page h2{
  clear: both;
  font-weight: bold;
  padding: .5em 0;
}

#pagecontent{
  clear:both;
  width: 100%;
}

#pagecontent h3{
  font-weight: bold;
  padding: 1em 0 1em 0;
}

#pagecontent ul, #pagecontent ol{
  line-height: 160%
 }
 
 #pagecontent ol{
   list-style-type: decimal;
   list-position: inside;
   padding-left: 4em;
}
 
#pagecontent table th{
  text-align: left;
  padding: .5em 0;
}

#pagecontent table .row-divider{
  padding: .5em 0;
}

#pagecontent table tr td{
  padding: .25em 0;
  vertical-align: top;
}

/*footer*/
#footer{
  clear: both;
  width: 900px;
  height: 100%;
  margin: 1em auto;
  padding: 1em 0 2em 0;
}

#footer p, #footer li, #footer a{
  font-size: .9em;
  color: #888888;
}

#footer ul{
  margin: 1em 0;
  text-align: right;
}

#footer ul#rights{
  float: left;
}

#footer ul#rights li{
  display: inline;
  padding: 0 2em 0 0;
}



